<!DOCTYPE html>
<html lang="en" >
<head>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Home</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

<section class="section">
	{% block h1 %} <h1>Дейности</h1> {% endblock %}
	{% block login %}
		<form action="/" method="POST" class="form-inline" style="float:right; margin-top: -55px;">
			<input class="form-control mr-sm-2" type="password" name="password" placeholder="Парола" aria-label="Search" >
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Влизане </button>
		</form>
		 {% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					<h5>{{msg}}</h5>
				{% endfor %}
			{% endif %}
    	{% endwith %}
	{% endblock %}
	  
</section>

{% block board %}
		<!-- SEND BUTTON MODAL-->


<div class="drag-container">
	<ul class="drag-list">
		<li class="drag-column drag-column-on-hold">
			<span class="drag-column-header">
				<h2 style="font-size: 20px;"> На изчакване </h2>
				<a type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" ><i class="fas fa-plus-circle fa-2x"></i></a>  

				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" >

					<form method="POST" action="{{ url_for('add_temp_task') }}" name="add_temp_task" onsubmit="return temp_check(1)">

						<div class="modal-content" style="background-color: #33363D;">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel" style="font-size: 25px;"> Бърза Задача За Днес</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="temporary_task_name" class="col-form-label"> Дейност: </label>
								<input type="text" name="temporary_task_name" class="form-control" id="temporary_task_name">
							</div>
							<div class="form-group">
								<label for="temporary_task_des" class="col-form-label">Описание (при нужда):</label>
								<textarea class="form-control" name="temporary_task_des" id="temporary_task_des"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
							<button type="submit" class="btn btn-primary">Създаване</button>
						</div>
						</div>

					</form>
				</div>
				</div>
  
			</span>
				
			<div class="drag-options" id="options1"></div>
			
			<ul class="drag-inner-list" id="1">

				{% for temporary_task1 in temp_tasks1 %}
						<li class="drag-item" id="tempid{{temporary_task1.id}}">
							<div class="text-left" style="margin: auto;float: left;">
								<a type="button" class="btn" data-toggle="modal" data-target="#description{{temporary_task1.id}}" data-whatever="@getbootstrap">
									<i class="fas fa-question-circle"></i>
								</a>
							</div>
							<h>{{temporary_task1.name}}</h>


							<!-- Modal -->
							<div class="modal fade" id="description{{temporary_task1.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle1" style="color:black">Описание</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<ul style="color: black;">
											{% if temporary_task1.description %}
												<li>{{temporary_task1.description}}</li>
											{% else %}
												<li></li>
											{% endif %}
										</ul>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
									</div>
								</div>
								</div>
							</div>
							<div id='asd' class="barbie">
								<label for="fname">Име: </label>
								{% if temporary_task1.person_name %}
									<input type="text" id="fname" name="fname" tabindex="-1" value="{{temporary_task1.person_name}}">
								{% else %}
									<input type="text" id="fname" name="fname" tabindex="-1">
								{% endif %}

							</div>
						</li>
				{% endfor %}

				{% for task1 in tasks1 %}

						<li class="drag-item" id="id{{task1.id}}">
							<div class="text-left" style="margin: auto;float: left;">
								<a type="button" class="btn" data-toggle="modal" data-target="#description{{task1.id}}" data-whatever="@getbootstrap">
									<i class="fas fa-question-circle"></i>
								</a>
							</div>
							<h>{{task1.name}}</h>


							<!-- Modal -->
							<div class="modal fade" id="description{{task1.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle2" style="color:black">Описание:</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<ul style="color: black;">
											{% if task1.description %}
												<li>{{task1.description}}</li>
											{% else %}
												<li></li>
											{% endif %}
										</ul>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
									</div>
								</div>
								</div>
							</div>



							<!--<button type="button" id="my-button{{task1.id}}" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenters"  style="float:right; margin-top: 80px; margin-right: 10px;">
								Send
							</button>
							
							<div class="modal fade" id="exampleModalCenters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitles" aria-hidden="true" style="z-index: 999999999999;">
								<div class="modal-dialog modal-dialog-centered" role="document" >
								<div class="modal-content" >
									<div class="modal-header" >
									<h5 class="modal-title" id="exampleModalLongTitles" style="color:black">Done by</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<div class="form-group" style="color: black;">
											<label for="message-text" class="col-form-label">Name</label>
											<input class="form-control" type="text" id="message-text" ></input>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Send</button>
									</div>
								</div>
								</div>
							</div>
					


						

							<div class="text-right" style=" margin: auto; float: right; bottom: 10%; right:4%">
								<h>Смяна: {{ task1.shift}}</h>
							</div>
						-->
						<div id='asd' class="barbie">
							<label for="fname">Име: </label>

							{% if task1.person_name %}
								<input type="text" id="fname" name="fname" tabindex="-1" value="{{task1.person_name}}">
							{% else %}
								<input type="text" id="fname" name="fname" tabindex="-1">
							{% endif %}
						</div>

						</li>
				{% endfor %}


			</ul>
		</li>
		<li class="drag-column drag-column-in-progress">
			<span class="drag-column-header">
				<h2 style="font-size: 20px;"> В прогрес </h2>
				<i class="fab fa-battle-net fa-3x"></i>
			</span>
			<div class="drag-options" id="options2"></div>
			<ul class="drag-inner-list" id="2">
				{% for temporary_task2 in temp_tasks2 %}
						<li class="drag-item" id="tempid{{temporary_task2.id}}">
							<div class="text-left" style="margin: auto;float: left;">
								<a type="button" class="btn" data-toggle="modal" data-target="#description{{temporary_task2.id}}" data-whatever="@getbootstrap">
									<i class="fas fa-question-circle"></i>
								</a>
							</div>
							<h>{{temporary_task2.name}}</h>


							<!-- Modal -->
							<div class="modal fade" id="description{{temporary_task2.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle3" style="color:black">Описание</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<ul style="color: black;">
											{% if temporary_task2.description %}
												<li>{{temporary_task2.description}}</li>
											{% else %}
												<li></li>
											{% endif %}
										</ul>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
									</div>
								</div>
								</div>
							</div>
							<div id='asd' class="barbie">
								<label for="fname">Име: </label>


								{% if temporary_task2.person_name %}
									<input type="text" id="fname" name="fname" tabindex="-1" value="{{temporary_task2.person_name}}" disabled>
								{% else %}
									<input type="text" id="fname" name="fname" tabindex="-1" disabled>
								{% endif %}

							</div>
						</li>
				{% endfor %}

				{% for task2 in tasks2 %}
						<li class="drag-item" id="id{{task2.id}}">
							<div class="text-left" style="margin: auto;float: left;">
								<a type="button" class="btn" data-toggle="modal" data-target="#description{{task2.id}}" data-whatever="@getbootstrap">
									<i class="fas fa-question-circle"></i>
								</a>
							</div>
							<h>{{task2.name}}</h>


							<!-- Modal -->
							<div class="modal fade" id="description{{task2.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle4" style="color:black">Описание:</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<ul style="color: black;">
											{% if task2.description %}
												<li>{{task2.description}}</li>
											{% else %}
												<li></li>
											{% endif %}
										</ul>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
									</div>
								</div>
								</div>
							</div>



							<!--<button type="button" id="my-button{{task2.id}}" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenters"  style="float:right; margin-top: 80px; margin-right: 10px;">
								Send
							</button>

							<div class="modal fade" id="exampleModalCenters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitles" aria-hidden="true" style="z-index: 999999999999;">
								<div class="modal-dialog modal-dialog-centered" role="document" >
								<div class="modal-content" >
									<div class="modal-header" >
									<h5 class="modal-title" id="exampleModalLongTitles" style="color:black">Done by</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<div class="form-group" style="color: black;">
											<label for="message-text" class="col-form-label">Name</label>
											<input class="form-control" type="text" id="message-text" ></input>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Send</button>
									</div>
								</div>
								</div>
							</div>





							<div class="text-right" style=" margin: auto; float: right; bottom: 10%; right:4%">
								<h>Смяна: {{ task2.shift}}</h>
							</div>
						-->
						<div id='asd' class="barbie">
							<label for="fname">Име: </label>

							{% if task2.person_name %}
								<input type="text" id="fname" name="fname"  tabindex="-1" value="{{task2.person_name}}" disabled>
							{% else %}
								<input type="text" id="fname" name="fname" tabindex="-1" disabled>
							{% endif %}

						</div>


						</li>
				{% endfor %}


			</ul>
		</li>
		
		<li class="drag-column drag-column-approved">
			<span class="drag-column-header">
				<h2 style="font-size: 20px;"> Готови </h2>
				<i class="fas fa-check fa-3x"></i>
				<!--<svg data-target="options4" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>-->
			</span>
			<div class="drag-options" id="options4"></div>
			<ul class="drag-inner-list" id="3">
				{% for temporary_task3 in temp_tasks3 %}
						<li class="drag-item" id="tempid{{temporary_task3.id}}">
							<div class="text-left" style="margin: auto;float: left;">
								<a type="button" class="btn" data-toggle="modal" data-target="#description{{temporary_task3.id}}" data-whatever="@getbootstrap">
									<i class="fas fa-question-circle"></i>
								</a>
							</div>
							<h>{{temporary_task3.name}}</h>


							<!-- Modal -->
							<div class="modal fade" id="description{{temporary_task3.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle5" style="color:black">Описание</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<ul style="color: black;">
											{% if temporary_task3.description %}
												<li>{{temporary_task3.description}}</li>
											{% else %}
												<li></li>
											{% endif %}
										</ul>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
									</div>
								</div>
								</div>
							</div>
							<div id='asd' class="barbie">
								<label for="fname">Име: </label>

								{% if temporary_task3.person_name %}
									<input type="text" id="fname" name="fname" tabindex="-1" value="{{temporary_task3.person_name}}" disabled>
								{% else %}
									<input type="text" id="fname" name="fname" tabindex="-1" disabled>
								{% endif %}

							</div>
						</li>
				{% endfor %}

				{% for task3 in tasks3 %}
						<li class="drag-item" id="id{{task3.id}}">
							<div class="text-left" style="margin: auto;float: left;">
								<a type="button" class="btn" data-toggle="modal" data-target="#description{{task3.id}}" data-whatever="@getbootstrap">
									<i class="fas fa-question-circle"></i>
								</a>
							</div>
							<h>{{task3.name}}</h>


							<!-- Modal -->
							<div class="modal fade" id="description{{task3.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle" style="color:black">Описание:</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<ul style="color: black;">
											{% if task3.description %}
												<li>{{task3.description}}</li>
											{% else %}
												<li></li>
											{% endif %}
										</ul>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
									</div>
								</div>
								</div>
							</div>



							<!--<button type="button" id="my-button{{task3.id}}" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenters"  style="float:right; margin-top: 80px; margin-right: 10px;">
								Send
							</button>

							<div class="modal fade" id="exampleModalCenters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitles" aria-hidden="true" style="z-index: 999999999999;">
								<div class="modal-dialog modal-dialog-centered" role="document" >
								<div class="modal-content" >
									<div class="modal-header" >
									<h5 class="modal-title" id="exampleModalLongTitles" style="color:black">Done by</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										<div class="form-group" style="color: black;">
											<label for="message-text" class="col-form-label">Name</label>
											<input class="form-control" type="text" id="message-text" ></input>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Send</button>
									</div>
								</div>
								</div>
							</div>





							<div class="text-right" style=" margin: auto; float: right; bottom: 10%; right:4%">
								<h>Смяна: {{ task3.shift}}</h>
							</div>
						-->
						<div id='asd' class="barbie">
							<label for="fname">Име: </label>

							{% if task3.person_name %}
								<input type="text" id="fname" name="fname" tabindex="-1" value="{{task3.person_name}}" disabled>
							{% else %}
								<input type="text" id="fname" name="fname" tabindex="-1" disabled>
							{% endif %}

						</div>


					</li>
				{% endfor %}

			</ul>
		</li>
	</ul>
</div>
{% endblock %}


{% block sidemenu %} {% endblock %}



<!-- partial -->
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js'></script>
  <script  src="../static/js/script.js"></script>

</body>
</html>