{% extends "admin.html"  %}


 

{% block board %}

    <script src= 
        "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"> 
            </script>



    <div class="border border-danger p-4" style="text-align: center; margin:auto; width: 40%;">
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" style="margin:auto" >Създаване на Задача</button> 
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="background-color: #33363D;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Създаване... </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/manage" onsubmit="return megaqko(1)">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label"> Дейност: </label>
                    <input type="text" name="name" class="form-control" id="task_name">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label"> Описание: </label>
                    <textarea class="form-control" name="description" id="task_bio"></textarea>
                </div>

                <div class="form-group" style="margin:auto">
                    <label for="exampleFormControlSelect1">Смяна: </label>
                    <select class="form-control" name="shift" id="shift">
                    <option> Първа </option>
                    <option> Втора </option>
                    </select>
                </div>


                
                <div class="container" style="max-width: 250px;">
                    <div class="form-group m-1" >
                        <label class="font-weight" for="first_a" >
                            Първо показване
                        </label>
                        
                            <input class="form-control" type="date"
                                name="first_a" id="date_input" value="" format="dd/mm/yyyy">
                    </div>
                </div>

                <!--<div class="container" style="max-width: 250px;">
                    <div class="form-group m-1">
                        <label class="font-weight-bold" for="second_a">
                            Second Alert
                        </label>
                        <div class="input-group date">
                            <input class="form-control" type="date"
                                name="second_a" id="second_a" value="">
                        </div>
                    </div>
                </div>-->


                    <div class="container" style="max-width: 250px;">
                        <div class="form-group m-1">
                            <label for="recipient-name" class="col-form-label">Показвай на всеки:</label>
                            <input type="number" min="1" name="period" class="form-control" id="per">
                        </div>
                    </div>


                    <div class="container" style="max-width: 250px;">
                        <div class="form-group m-1">
                            <select class="form-control" name="period_type" id="days_months">
                            <option>Дена</option>
                            <option>Месеца</option>
                            </select>
                        </div>
                    </div>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Затваряне</button>
                    <button type="submit" class="btn btn-primary">Създаване</button>
                </div>
            </form>
        </div>


    </div>
    </div>


 

    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <h5 style="text-align: center; color: red;">{{msg}}</h5>
                        {% endfor %}
                    {% endif %}
    {% endwith %}
    <!-- Demo header-->
    <section class="pb-5 header text-center" >
        <div class="container py-5 text-white" >
            <div class="row" >
                <div class="col-lg-13 mx-auto" >
                    <div class="card border-0 shadow" style="background-color:  rgba(0, 0, 0, 0.2);">
                        <div class="card-body p-6">
                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr  style="color:white">
                                            <th scope="col">Дейност</th>
                                            <th scope="col">Описание</th>
                                            <th scope="col">Следващо показване</th>
                                            <th scope="col">Смяна</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in tasks %}
                                        <div class="modal fade" id="edit{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: black;">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content" style="background-color: #33363D; color: white;">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel1">Коригиране</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <form method="POST" action="{{ url_for('edit', my_task_id=task.id) }}" name="edit{{task.id}}" id={{task.id}} onsubmit="return checking_fields(this.id)">
                                                    <div class="form-group">
                                                      <label for="recipient-name" class="col-form-label"> Дейност: </label>
                                                      <textarea class="form-control" name="task_name_edit" id="task_name_edit">{{task.name}}</textarea>
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="message-text" class="col-form-label"> Описание: </label>
                                                      <textarea name="task_bio_edit" type="text" class="form-control" id="task_bio_edit">{{task.description}}</textarea>
                                                    </div>



                                                    <div class="form-check">
                                                        <input class="col-form-label" type="checkbox" value="1" id="CheckBox{{task.id}}" onclick="date(this)">
                                                        <label class="col-form-label" for="CheckBox{{task.id}}"> Промяна на повтаряемост? </label>
                                                    </div>

                                                    <label for="date_input{{task.id}}" class="col-form-label" >Първо Показване:</label>
                                                    <div class="input-group date">
                                                        <input class="form-control" id="date_input{{task.id}}" name="first_alert_edit" type="date" value=""  disabled>
                                                    </div>

                                                    <div class="container" style="max-width: 250px; display: inline-block;">
                                                        <div class="form-group m-1">
                                                            <label for="recipient-name" class="col-form-label">Показвай на всеки:</label>
                                                            <input type="number" min="1" name="period" class="form-control" id="periods{{task.id}}" disabled>
                                                        </div>
                                                    </div>
                                                                 
                                
                                
                                                    <div class="container" style="max-width: 250px; display: block;">
                                                        <div class="form-group m-1">
                                                            <select class="form-control" name="period_type" id="days_months{{task.id}}" disabled>
                                                            <option>Дена</option>
                                                            <option>Месеца</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-checks">
                                                        <input class="col-form-label" type="checkbox" value="0" id="Shift{{task.id}}" onclick="s(this)">
                                                        <label class="col-form-label" for="Shift{{task.id}}"> Промяна на смяната? </label>
                                                    </div>

                                                    <div class="form-group" style="margin:auto; max-width: 150px;">
                                                        <label for="exampleFormControlSelect1">Смяна: </label>
                                                        <select class="form-control" name="shift" id="shift{{task.id}}" disabled>
                                                            <option></option>
                                                            <option>Първа</option>
                                                            <option>Втора</option>
                                                        </select>
                                                    </div>

                                                
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                                                        <button  class="btn btn-primary" >Промяна</button>
                                                    </div>
                                            </form>
                                              </div>
                                            </div>
                                          </div>



                                            <tr style="color: white">
                                                <td scope="row">{{task.name}}</td>
                                                <td>{{task.description}}</td>
                                                <td>{{task.next_alert.date()}}</td>
                                                <td>{{task.shift}}</td>
                                                <td>
                                                    <ul class="list m-1" style="display: inline-block; padding: 5px;">
                                                        <button class="btn btn-success btn-large" data-target="#edit{{task.id}}" data-toggle="modal" type="button"> Коригирай </button>
                                                        <form method="POST" action="{{ url_for('delete', task_id=task.id) }}">
                                                            <button class="btn btn-danger btn-large" onclick="return confirm('Изтриване на тази дейност?')"> Изтриване </button>
                                                        </form>                                                  
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}


