{% extends "admin.html" %}

{% block board %}
<div class="border border-danger p-4" style="margin:auto; width: 40%;">
    <form style="text-align: center;" >
        <div class="form-group w-50" style="margin:auto;">
            <label for="exampleFormControlSelect1">Done Tasks</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option></option>
              <option>Yesterday</option>
              <option>This Week</option>
              <option>Last Month</option>
            </select>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" >
            <label class="form-check-label" for="defaultCheck1"> Print Here </label>
          </div>
          <form method="post">
              <div>
            <div class="form-check w-25" style="margin:auto;">
                <input class="form-check-input" type="checkbox" value="1" id="defaultCheck2" onclick="email(this)">
                <label class="form-check-label" for="defaultCheck2"> Send by email </label>
                <select class="form-control" id="email_input" disabled>
                    <option></option>
                    <option>Email@email.com</option>
                    <option>email2@email.com</option>
                </select>
            </div>
          </form>
        <button type="submit" class="btn btn-primary" style="margin-top: 30px;" >Submit</button>
    </form>
</div>

<script>
    function email(termsCheckBox){
        if(termsCheckBox.checked){
            document.getElementById("email_input").disabled = false;
        } else{           
            document.getElementById("email_input").disabled = true;    
        }
    }
</script>
{% endblock %}

{% block sidemenu %}
<div class="sidenav">
    <a href="/manage">Manage</a>
    <a href="/select">Select</a>
    <a href="/admin">Home</a>
    <a href="#">Contact</a>
</div>
{% endblock %}


